*{
    margin: 0;
    padding: 0;
}

/* HEADER(CABEÇALHO) */

#header,#header2, #header3{
    text-align: center;
    padding: 16px;
    color: white;
}

#header4{
    text-align: center;
    padding: 20px;
    color: white;
}

/* MENU */

#menu{
     text-align: center;
     padding: 4.5px;
}

/* CORPO DO SITE */

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(80deg, #1a29f5, #f72222);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* MODIFICAÇÕES DOS LINKS */

a{
    text-decoration: none;
}

a:link, a:visited{
    color: #0066CC;
}

a:hover{
    text-decoration: underline;
}

/* MODIFICAÇÕES DAS PAGINAS */

#me, #portifolio, #formacao{
    font-size: 16px;
    padding: 3px;
    border-right: 1px solid #0066cc;
}

#contato{
    font-size: 16px;
    padding: 3px;
}

#Eu, #conhecimento, #hobbie, #educacion, #idiomas{
    padding: 10px 0px;
}

#conhecimento{
    padding: 10px 0px;
}

/* MODIFICAÇÕES DOS PARAGRAFOS */

p{
    text-decoration: underline;
    text-align: justify;
    color: white;
}

/* CONTEUDO DAS PAGINAS */

.content{
    width: 920px;
    margin: 0 auto;
    padding:15px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}

/* MODIFICAÇOES DOS ICONES */

#icone1, #icone2{
   width: 30px;
   height: 30px;
   vertical-align: middle;
   border-radius: 50%;
   border: 1px solid black;
   background: white;
}

#icone3{
   width: 30px;
   height: 30px;
   vertical-align: middle;
   border-radius: 50%;
   border: 1px solid green;
   background: green;
}

#icone4{
    width: 30px;
   height: 30px;
   display: flex;
   padding: 5px;
   float: left
}

#icone5{
    width: 30px;
   height: 30px;
   display: flex;
   padding: 5px;
   float: left
}

#icone6{
   width: 30px;
   height: 30px;
   float:inline-start;
}

.icone7{
    width: 30px;
   height: 30px;
}

/* MODIFCAÇÕES DOS MEIOS DE CONTATO */

#telefone{
    font-size: 25px;
    color: rgb(0, 0, 0);
}

#email{
    font-size: 25px;
    color: #f72222
}

#WhatsApp{
    font-size: 25px;
    color: green;
}

#footer{
    text-align: center;
    clear: both;
    padding: 10px;
}

#footer img{
    width: 40px;
    height: 40px;
}

/* ANIMAÇÃO DO TEXTO */

.typewriter {
      font-size: 2rem;
      white-space: nowrap;
      overflow: hidden;
      width: 0;
      animation: typing 4s steps(30, end) forwards,
                 blink .7s step-end infinite;
    }
    @keyframes typing {
      from { width: 0; }
      to { width: 20ch; } /* quantidade de caracteres */
    }

 /* MODFICAÇÃO DO BOX */ 
#box{
    width: 100%;
}

#box textarea{
    height: 30px;
}


#botao{
   color: #0066CC; 
}


